<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= newText %></p>

<% newPost.forEach(function(elements) { %>
     <h1><%= elements.postTit %></h1>
     <p><%= elements.postBdy.substring(0,100)+"..." %></p>
<% }) %>


<%- include("partials/footer") -%>
